@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --site--margin: clamp(1rem, calc(0.261rem + 2.75vw), 8rem);
  --section-padding: 0rem;
  --font-size-base: max(1rem, 16px);
  --font-scale-ratio: 1.125;
  --font-base: var(--font-size-base);
  --type--text-xs: calc(var(--font-size-base) / 1.125 / 1.125);
  --type--text-sm: calc(var(--font-size-base) / 1.125);
  --type--text-base: var(--font-size-base);
  --type--text-md: calc(var(--font-size-base) * var(--font-scale-ratio));
  --type--text-lg: calc(var(--type--text-md) * var(--font-scale-ratio));
  --type--text-xl: calc(var(--type--text-lg) * var(--font-scale-ratio));
  --type--text-2xl: calc(var(--type--text-xl) * var(--font-scale-ratio));
  --type--text-3xl: calc(var(--type--text-2xl) * var(--font-scale-ratio));
  --type--text-4xl: calc(var(--type--text-3xl) * var(--font-scale-ratio));
  --type--text-5xl: calc(var(--type--text-4xl) * var(--font-scale-ratio));
  --type--text-6xl: calc(var(--type--text-5xl) * var(--font-scale-ratio));
  --type--text-7xl: calc(var(--type--text-6xl) * var(--font-scale-ratio));
  --type--text-8xl: calc(var(--type--text-7xl) * var(--font-scale-ratio));
  --space-base: 1rem;
  --space-xs: calc(var(--space-base) * 0.25);
  --space-sm: calc(var(--space-base) * 0.5);
  --space-2x: calc(var(--space-base) * 2);
  --space-3x: calc(var(--space-base) * 3);
  --space-4x: calc(var(--space-base) * 4);
  --background: #fbf6ff;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (min-width: 1280px) {
  :root {
    --font-size-base: clamp(1rem, calc(0.7419rem + 0.3226vw), 1.125rem);
    --font-scale-ratio: 1.2;
    --type--lh-body: 1.6;
    --type--lh-head: 1;
    --space-base: 1.2rem;
    --section-padding: clamp(1.5rem, calc(-4.675rem + 5.844vw), 4.25rem);
  }
}
@media (min-width: 1900px) {
  :root {
    --font-size-base: 1.125rem;
    --font-scale-ratio: 1.25;
    --type--lh-body: 1.6;
    --type--lh-head: 1;
    --space-base: 1.6rem;
  }
}
@theme {
  --breakpoint-3xl: 120rem;
  --color-indigo: #4008c3;
  --color-indigo-dark: #220842;
  --color-lila: #7b63fa;
  --color-mauve: #ac6cff;
  --color-jaune: #f6b91e;
}

@theme inline {
  --font-head: var(--font-instrument-serif);
  --font-body: var(--font-plus-jakarta-sans);
  --leading-body: var(--type--lh-body);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-gray-900);
  --color-secondary: var(--color-gray-600);
  --color-tertiary: var(--color-gray-500);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-instrument-serif);
  --spacing-site-margin: var(--site--margin);
  --spacing-section-padding: var(--section-padding);
  --text-8xl: var(--type--text-8xl);
  --text-7xl: var(--type--text-7xl);
  --text-6xl: var(--type--text-6xl);
  --text-5xl: var(--type--text-5xl);
  --text-4xl: var(--type--text-4xl);
  --text-3xl: var(--type--text-3xl);
  --text-2xl: var(--type--text-2xl);
  --text-xl: var(--type--text-xl);
  --text-lg: var(--type--text-lg);
  --text-md: var(--type--text-md);
  --text-base: var(--type--text-base);
  --text-sm: var(--type--text-sm);
  --text-xs: var(--type--text-xs);
  --spacing-space-xs: var(--space-xs);
  --spacing-space-sm: var(--space-sm);
  --spacing-space-base: var(--space-base);
  --spacing-space-2x: var(--space-2x);
  --spacing-space-3x: var(--space-3x);
  --spacing-space-4x: var(--space-4x);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  /* * {
    outline: solid red 1px;
  } */
  html {
    overflow-x: hidden;
    @apply font-sans;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-plus-jakarta-sans), sans-serif;
    font-size: var(--font-base);
    @apply bg-background text-foreground;
  }

  body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0px !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-instrument-serif), serif;
  }
  * {
    @apply border-border outline-ring/50;
  }

  number-flow-react {
    --number-flow-mask-height: 0em;
    --number-flow-mask-width: 0em;
    line-height: 0.85;
  }

  number-flow-react::part(currency) {
    margin-left: -0.05em;
    font-weight: normal;
    font-size: 0.6em;
    color: var(--color-tertiary);
  }
}
